#i8ulr {
    width: 200px;
    border: 1px solid black;
}

#i4vp5 {
    height: 60px;
    border: 0px solid black;
}

#ijjn2 {
    width: 200px;
    border: 1px solid black;
}

#i15ah {
    width: 200px;
    border: 1px solid black;
}

#iwg3k {
    width: 200px;
    border: 1px solid black;
}

#ix2q5 {
    width: 200px;
    border: 1px solid black;
}

#ildxl {
    text-align: center;
}

#im6yj {
    text-align: center;
}

#iy643 {
    text-align: center;
}

#ib6zs {
    text-align: center;
}

#iealb {
    text-align: center;
}

#i1jrn {
    width: 100px;
    border: 0px solid black;
}

#i0r8c {
    width: 250px;
    border: 1px solid black;
}

#igce3 {
    width: 200px;
    border: 1px solid black;
}

#idxu8 {
    width: 200px;
    border: 1px solid black;
}

#izkfg {
    width: 200px;
    border: 1px solid black;
}

#iijbn {
    width: 100px;
    border: 1px solid black;
}

#ig9og {
    width: 100px;
    border: 0px solid black;
}

#iit4j {
    height: 60px;
    border: 0px solid black;
}

#\34 -1 {
    height: 60px;
    text-align: center;
}

#ipAddress1 {
    height: 60px;
    text-align: center;
}

#ipAddress2 {
    height: 60px;
    text-align: center;
}

#ipAddress3 {
    height: 60px;
    text-align: center;
}

#ihlym {
    text-align: center;
}

#i0dhp {
    width: 250px;
    border: 1px solid black;
}

#lastAddress1 {
    height: 60px;
    text-align: center;
}

#inics {
    width: 200px;
    border: 1px solid black;
}

#lastAddress2 {
    height: 60px;
    text-align: center;
}

#iyvaf {
    width: 200px;
    border: 1px solid black;
}

#lastAddress3 {
    height: 60px;
    text-align: center;
}

#im36v {
    width: 200px;
    border: 1px solid black;
}

#lastAddress4 {
    height: 60px;
    text-align: center;
}

#imaph {
    width: 200px;
    border: 1px solid black;
}

#ikzir {
    width: 100px;
    border: 0px solid black;
}

#i3wwb {
    height: 60px;
    border: 0px solid black;
}

#iwcj4 {
    text-align: center;
}

#ilp67 {
    width: 250px;
    border: 1px solid black;
}

#braodcastAddress1 {
    height: 60px;
    text-align: center;
}

#iuzl9 {
    width: 200px;
    border: 1px solid black;
}

#braodcastAddress2 {
    height: 60px;
    text-align: center;
}

#i9r9m {
    width: 200px;
    border: 1px solid black;
}

#braodcastAddress3 {
    height: 60px;
    text-align: center;
}

#i1syv {
    width: 200px;
    border: 1px solid black;
}

#braodcastAddress4 {
    height: 60px;
    text-align: center;
}

#i6701 {
    width: 200px;
    border: 1px solid black;
}

#i2dha {
    width: 100px;
    border: 0px solid black;
}

#ifeuo {
    height: 60px;
    border: 0px solid black;
}

#i21oi {
    text-align: center;
}

#i87b5 {
    width: 250px;
    border: 1px solid black;
}

#firssAddress1 {
    height: 60px;
    text-align: center;
}

#ib56d {
    width: 200px;
    border: 1px solid black;
}

#firssAddress2 {
    height: 60px;
    text-align: center;
}

#i89jj {
    width: 200px;
    border: 1px solid black;
}

#firssAddress3 {
    height: 60px;
    text-align: center;
}

#iiydq {
    width: 200px;
    border: 1px solid black;
}

#firssAddress4 {
    height: 60px;
    text-align: center;
}

#inet7 {
    width: 200px;
    border: 1px solid black;
}

#i2s81h {
    width: 100px;
    border: 0px solid black;
}

#iwd2jn {
    height: 60px;
    border: 0px solid black;
}

#iu2rvg {
    text-align: center;
}

#i4vfbe {
    width: 250px;
    border: 1px solid black;
}

#subnetNum1 {
    height: 60px;
    text-align: center;
}

#iec73o {
    width: 200px;
    border: 1px solid black;
}

#subnetNum2 {
    height: 60px;
    text-align: center;
}

#i1coqa {
    width: 200px;
    border: 1px solid black;
}

#subnetNum3 {
    height: 60px;
    text-align: center;
}

#i9q9fl {
    width: 200px;
    border: 1px solid black;
}

#subnetNum4 {
    height: 60px;
    text-align: center;
}

#iruvbq {
    width: 200px;
    border: 1px solid black;
}

#ioqbts {
    width: 100px;
    border: 0px solid black;
}

#iljctl {
    height: 60px;
    border: 0px solid black;
}

#i4i7ff {
    text-align: center;
}

#i3gp8r {
    width: 250px;
    border: 1px solid black;
}

#netmask1 {
    height: 60px;
    text-align: center;
}

#i94e5s {
    width: 200px;
    border: 1px solid black;
}

#netmask2 {
    height: 60px;
    text-align: center;
}

#i5fpbo {
    width: 200px;
    border: 1px solid black;
}

#netmask3 {
    height: 60px;
    text-align: center;
}

#ie0c84 {
    width: 200px;
    border: 1px solid black;
}

#netmask4 {
    height: 60px;
    text-align: center;
}

#ikznoh {
    width: 200px;
    border: 1px solid black;
}

#ic9ukc {
    width: 100px;
    border: 0px solid black;
}

#iy446h {
    height: 60px;
    border: 0px solid black;
}

#condition {
    width: 965px;
}

#i47zbw {
    text-align: center;
}

#ipznq5 {
    width: 965px;
    height: 40px;
    margin: 0 0 10px 0;
}

#ipAddress4 {
    height: 60px;
    text-align: center;
}

#networkAddress {
    width: 200px;
    height: 40px;
    margin: 0 0 10px 0;
}

#imedbl {
    height: 40px;
    margin: 0px 10px 0px 20px;
    align-content: center;
}

#ixsn9g {
    height: 40px;
    margin: 0px 10px 0px 20px;
    align-content: center;
}

#prefixLength {
    width: 150px;
    height: 40px;
    margin: 0 0 10px 0;
}

#itk17x {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

#is1lbj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
    max-width: 68px;
}

#ib46iv {
    margin-right: 10px;
}

#idypcb {
    height: 40px;
    margin: 0px 10px 0px 20px;
    align-content: center;
}

#magicNumber {
    width: 150px;
    height: 40px;
    margin: 0 0 10px 0;
}